hr{
    border: solid 2px var(--main_red);
}

.recherche{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.recherche > input{
    border: solid 2px var(--dark_red);
    border-radius: 5px;
}

.day-container, .courses-match{
    display: flex;
    justify-content: space-evenly;
}

.jour{
    text-align: center;
}

table{
    margin: 1%;
    border-collapse: collapse;
    overflow-y: auto;
    width: 100%;
    text-align: center;
}

table, th, td{
    border: solid 1px var(--main_red);
    padding: 3px;
}

th,table{
    border: solid 2px var(--main_red);
}

.odd{
    background-color: #f1cfd6 !important;
}

/* Style de la popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

/* Style pour les liens de confirmation et d'annulation */
.popup a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #FF3547;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Style pour les input */
.popup input#confirm {
    background-color: #007BFF;
    border: #007BFF;
    color: white;
    padding: 10px 20px;
}

.popup input#cancel {
    background-color: #FF3547;
    border: #FF3547;
    color: white;
    padding: 10px 20px;
}

.popup > form{
    text-align: center;
}

@media screen and (max-width: 864px){
    .day-container, .courses-match{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jour{
        width: 70vw;
    }
}